<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </p>

  <div class="actions">
    <%= f.hidden_field :post_id %>
    <%= f.submit disabled: true %>
  </div>
<% end %>
